# Machine Learning 2023-2024 - UMONS
# Exploratory Data Analysis with Pandas (Tutorial)

In this tutorial, we experiment with the library Pandas on the dataset titanic.

**Load necessary libraries**

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import Image

**Load a dataframe from an Excel file**

In [ ]:
raw_data = pd.read_excel("data/titanic.xls")
raw_data

1.  **pclass:** Socio-economic class (1 = Upper class; 2 = Middle class; 3 = Lower class)
2.  **survived:** Outcome of survival (0 = No; 1 = Yes)
3.  **name:** Name of passenger
4.  **sex:** Sex of the passenger
5.  **age:** Age of the passenger (Some entries contain NaN)
6.  **sibsp:** Number of siblings and spouses of the passenger aboard
7.  **parch:** Number of parents and children of the passenger aboard
8.  **ticket:** Ticket number of the passenger
9.  **fare:** Fare paid by the passenger
10. **cabin:** Cabin number of the passenger (Some entries contain NaN)
11. **embarked:** Port of embarkation of the passenger (C = Cherbourg; Q = Queenstown; S = Southampton)
12. ...

## Overview of the dataframe

**The shape represents the number of rows and columns in the dataframe**

In [ ]:
raw_data.shape

**Get column names**

In [ ]:
raw_data.columns

**Get data types of each column**

In [ ]:
raw_data.dtypes

**Get dataframe technical informations**

In [ ]:
raw_data.info()

**Get Dataframe summary statistics for numerical variables**

In [ ]:
with pd.option_context('display.precision', 1): # We only display one decimal place
    display(raw_data.describe())

**Set a chosen column as index**

In [ ]:
raw_data = raw_data.set_index("name")
raw_data

**Get the name of columns in the index**

In [ ]:
raw_data.index.names

**Remov all columns from the index**

In [ ]:
raw_data = raw_data.reset_index()

## Data cleaning

**Check for missing values**

In [ ]:
raw_data.isna()

**Count the number of missing values per column.**

In [ ]:
raw_data.isna().sum()

**Count the number of non-missing values per column.**

In [ ]:
raw_data.notna().sum()

**Get the proportion of missing values per column, and sort them in descending order.**

In [ ]:
raw_data.isna().mean().sort_values(ascending=False)

**Create a heatmap of missing values per column.**

In [ ]:
sns.heatmap(raw_data.isna(), cmap='gray');

### Dealing with missing values

- Remove missing values:
    - Remove rows/columns with missing columns
    - Drop rows/columns by percentage of missing values  
    - See `pd.dropna(axis= , thresh= )`
- Impute missing values:
    - Filling with generic values
    - Filling with central tendencies
    - See `pd.fillna()`, `pd.bfill()`, `pd.ffill()`, etc

**Check the missing values for a specific column.**

In [ ]:
raw_data["embarked"].isna()

**Count the number of missing values for a specific column**

In [ ]:
raw_data["embarked"].isna().sum()  # only 2 missing values

**Count the occurrences of a categorical variable, including missing values.**

In [ ]:
raw_data["embarked"].value_counts(dropna=False)

**Replace missing values with the most represented class.**

In [ ]:
raw_data["embarked"].fillna("S", inplace=True)

**Drop specified columns.**

In [ ]:
data = raw_data.drop(
    ["name", "sibsp", "parch", "ticket", "fare", "cabin", "embarked", "boat", "body", "home.dest"],
    axis=1,
)
data.head()

In [ ]:
data["age"].isna().sum()

**Drop all rows that contain a missing value.**

In [ ]:
data.dropna(axis=0, inplace=True)
data.shape

**Assert no missing values remain in a chosen column.**

In [ ]:
assert data["age"].notna().all()

**Change data type of a chosen column.**

In [ ]:
data["sex"] = data["sex"].astype("category")
data["pclass"] = data["pclass"].astype("category")

**Concatenate rows into a new Dataframe.**

In [ ]:
data1 = data.head()
data2 = data.tail()
conc_data_row = pd.concat([data1, data2], axis=0, ignore_index=True)
conc_data_row

**Concatenate columns into a new Dataframe.**

In [ ]:
data1 = data["age"]
data2 = data["sex"]
conc_data_col = pd.concat([data1, data2], axis=1)
conc_data_col

## Indexing and filtering

In [ ]:
# Selecting one column
data["survived"]
# Or equivalently
data.survived

In [ ]:
# Selecting two columns
data[["survived", "pclass"]]

**Select 10 first rows of a chosen column.**

In [ ]:
# Using square brackets
data["age"][0:9]
# Using loc accessor (preferred)
data.loc[0:9, "survived"]

In [ ]:
data.loc[0:9, ["age", "sex"]]

In [ ]:
# Using row and column indices.
data.iloc[0:10, 0:2]

**Filter a Dataframe based on a condition**

In [ ]:
# Creating boolean series
mask = data.age > 70
data[mask]
data[data.age > 70]

In [ ]:
first_mask = data.age > 70
second_mask = data.survived == 1
data[first_mask & second_mask]

#Note that you must use '&', '|' instead of 'and', 'or' when filtering a Dataframe.

**Apply a function to each row of a Dataframe.**

In [ ]:
def div(n):
    return n / 2

data.age.apply(div)

In [ ]:
data.age.apply(lambda n: n / 2)

# Data visualization and summaries

**Create a histogram of a chosen variable with a given size in inches.**

In [ ]:
plt.figure(figsize=(6, 3))
sns.histplot(x='age', data=data);

**Create a barplot for a chosen categorical variable.**

In [ ]:
sns.countplot(x='pclass', data=data);

**Create a barplot a of chosen variable, but first group observations according to a second variable. The barplots appear on the same figure.**

In [ ]:
sns.countplot(x="pclass", hue="survived", data=data);

# Pandas Series and DataFrame

It is important to distinguish Pandas Series and DataFrame types:
- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html
- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html

In [ ]:
print(type(raw_data["age"]))

In [ ]:
print(type(raw_data[["age"]]))

In [ ]:
print(type(raw_data[["age", "sex"]]))

In [ ]:
raw_data.index

**Create a barplot of a chosen variable, but first group observations according to a second variable.**

In [ ]:
sns.catplot(x="pclass", col="survived", data=data, kind="count", height=3, aspect=0.7);

**Create a scatterplot between two continuous variables.**

In [ ]:
sns.scatterplot(x='age', y='fare', data=raw_data);

**Create a boxplot of a continuous variable.**

In [ ]:
sns.boxplot(x='sex', y='age', data=data);

**Create a density plot of a chosen continuous variable.**

In [ ]:
sns.displot(x='age', color='red', kind='kde', data=data);

In [ ]:
sns.displot(x='age', color='red', data=data, kde=True);

**Group observations according to a criterion, and compute their mean.**

In [ ]:
data.groupby(["sex"])[['survived', 'age']].mean()

In [ ]:
data.groupby(["sex", "pclass"])[['survived', 'age']].mean()

**Map values of a column.**

In [ ]:
def category_ages(age):
    if age <= 20:
        return "<20 ans"
    elif (age > 20) & (age <= 30):
        return "20-30 ans"
    elif (age > 30) & (age <= 40):
        return "30-40 ans"
    else:
        return "+40 ans"


data["cat_ages"] = data["age"].map(category_ages)
data.head()

**Create a column for the size of the family.**

In [ ]:
raw_data["familysize"] = raw_data["sibsp"] + raw_data["parch"] + 1
raw_data.head(10)

In [ ]:
sns.countplot(x="familysize", hue="survived", data=raw_data);